@model Employee

<div class="d-flex justify-content-center">
    <h2>Employee Details</h2>
</div>

<br />
<br />
<br />


<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Employee Name: @Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Employee Id: @Model.Id</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Age: @Model.Age</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Salary: @Model.Salary</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Address: @Model.Address</h6>
        <h6 class="card-subtitle mb-2 text-muted">Employee Email: @Model.Email</h6>
        <h6 class="card-subtitle mb-2 text-muted">Department: @Model.Department.Name</h6>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary mt-4">Back</a>
    </div>
</div>